.btn {
  display: inline-block;
  position: relative;
  padding: .5rem;
  padding-right: 2rem;
  border-radius: 0;
  color: black;
  border-bottom: none;
  .transition(all .25s);
  &:after {
    color: darken(#f2f2f2, 50%);
    font-family: 'FontAwesome';
    content: "\f054";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1rem;
    line-height: 2.5;
  }
  &.alt {
    border: 2px solid #f2f2f2;
    &:after {
      color: darken(#f2f2f2, 50%);
      font-family: 'FontAwesome';
      content: "\f054";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 1rem;
      line-height: 2.5;
      .translate(-50px,0);
      opacity:0;
    }
    &:hover {
      border-color: darken(#f2f2f2, 20%);
      &:after {
        font-family: 'FontAwesome';
        content: "\f054";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 1rem;
        line-height: 2.5;
        .translate(0,0);
        opacity:1;
        .transition(all .25s);
      }
    }
  }
  &.alt2 {

    &:before {
      bottom:0;
      left:.5rem;
      right:0;
      content: " ";
      width: 80%;
      height: 2px;
      position: absolute;
      background: rgba(0, 0, 0, .75);
      .translate(0,5px);
      opacity: 0;
      .transition(all .25s);
    }
    &:hover {
      border-bottom: none;
      &:before {
        .translate(0,0);
        opacity: 1;
            .transition(all .25s);
      }
    }
  }
    
}