//
// Carousel
// --------------------------------------------------


// Wrapper for the slide container and indicators
.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;

  > .item {
    display: none;
    position: relative;
    .transition(1s ease-in-out opacity);

    // Account for jankitude on images
    > img,
    > a > img {
      &:extend(.img-responsive);
      line-height: 1;
      min-width: 100%;
    }
    .container {
      position:relative;
      @media screen and (max-width: (@screen-sm - 1)) {
        padding:0;
      }
    }
  }

  > .active,
  > .next,
  > .prev { display: block; }

  > .active {
    opacity: 1;
    //left: 0;
  }

  > .next,
  > .prev {
    position: absolute;
    top: 0;
    width: 100%;
  }

  > .next {
    opacity: 0;
    //left: 100%;
  }
  > .prev {
    //left: -100%;
    opacity: 0;
  }
  > .next.left,
  > .prev.right {
    opacity: 1;
    //left: 0;
  }

  > .active.left {
    opacity: 0;
    //left: -100%;
  }
  > .active.right {
    opacity: 0;
    //left: 100%;
  }

}

// Left/right controls for nav
// ---------------------------

.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: @carousel-control-width;
  .opacity(@carousel-control-opacity);
  font-size: @carousel-control-font-size;
  color: @carousel-control-color;
  text-align: center;
  text-shadow: @carousel-text-shadow;
  // We can't have this transition here because WebKit cancels the carousel
  // animation if you trip this while in the middle of another animation.

  // Set gradients for backgrounds
  &.left {
    #gradient > .horizontal(@start-color: rgba(0,0,0,.5); @end-color: rgba(0,0,0,.0001));
  }
  &.right {
    left: auto;
    right: 0;
    #gradient > .horizontal(@start-color: rgba(0,0,0,.0001); @end-color: rgba(0,0,0,.5));
  }

  // Hover/focus state
  &:hover,
  &:focus {
    outline: none;
    color: @carousel-control-color;
    text-decoration: none;
    .opacity(.9);
  }

  // Toggles
  .icon-prev,
  .icon-next,
  .glyphicon-chevron-left,
  .glyphicon-chevron-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
  }
  .icon-prev,
  .glyphicon-chevron-left {
    left: 50%;
  }
  .icon-next,
  .glyphicon-chevron-right {
    right: 50%;
  }
  .icon-prev,
  .icon-next {
    width:  20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    font-family: serif;
  }

  .icon-prev {
    &:before {
      content: '\2039';// SINGLE LEFT-POINTING ANGLE QUOTATION MARK (U+2039)
    }
  }
  .icon-next {
    &:before {
      content: '\203a';// SINGLE RIGHT-POINTING ANGLE QUOTATION MARK (U+203A)
    }
  }
}

// Optional indicator pips
//
// Add an unordered list with the following class and add a list item for each
// slide your carousel holds.

.carousel-controls-container {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  width:1400px;
  max-width: 100%;
  z-index: 1000;
  bottom: 0;
}

.carousel-control-prev,
.carousel-control-next {
  border: 0;
  color: white;
  &:hover {
    border: 0;
    color: @green;
  }
  &:active,
  &:focus {
    border: 0;
    color: white;
  }

}

.carousel-controls {
  position: absolute;
  left: 2rem;
  bottom: 0;
  right: 0;
  width: 600px;
  max-width: 100%;
  @media screen and (max-width: (@screen-sm - 1)) {
    left: 1rem;
  }
}

.carousel-indicators {
  display: inline-block;
  //position: absolute;
  // bottom: 10px;
  // left: 3rem;
  z-index: 1000;
  width: auto;
  padding: 0 .5rem;
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    width:  10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid @carousel-indicator-border-color;
    border-radius: 10px;
    cursor: pointer;

    // IE8-9 hack for event handling
    //
    // Internet Explorer 8-9 does not support clicks on elements without a set
    // `background-color`. We cannot use `filter` since that's not viewed as a
    // background color by the browser. Thus, a hack is needed.
    //
    // For IE8, we set solid black as it doesn't support `rgba()`. For IE9, we
    // set alpha transparency for the best results possible.
    background-color: #000 \9; // IE8
    background-color: rgba(0,0,0,0); // IE9
  }
  .active {
    margin: 0;
    width:  12px;
    height: 12px;
    background-color: @carousel-indicator-active-bg;
  }
}

// Optional captions
// -----------------------------

.carousel-caption-container {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 999;
  padding: 1rem 2rem;
  color: @carousel-caption-color;
//  text-align: center;
  text-shadow: @carousel-text-shadow;
  background: black;
  background: rgba(0, 0, 0, 0.5);
  //height: 200px;
  width: 600px;
  max-width: 100%;
  z-index: 1;
  & .btn {
    text-shadow: none; // No shadow for button elements in carousel-caption
  }
  @media screen and (max-width: (@screen-sm - 1)) {
    position: relative;
    width: 100%;
    padding: 1rem;
  }
}


// Scale up controls for tablets and up
@media screen and (min-width: @screen-sm-min) {

  // Scale up the controls a smidge
  .carousel-control {
    .glyphicon-chevron-left,
    .glyphicon-chevron-right,
    .icon-prev,
    .icon-next {
      width: 30px;
      height: 30px;
      margin-top: -15px;
      margin-left: -15px;
      font-size: 30px;
    }
  }

  // Show and left align the captions
  .carousel-caption-container {
    left: 0;
    padding-bottom: 30px;
    z-index: 101;
  }

  // Move up the indicators
  .carousel-indicators {
    bottom: 0;
  }
}


/*============================================================================
=            Custom styles by Joe Fitzsimmons jfitzsim@oswego.edu            =
============================================================================*/

.item {
  .carousel-headline {
    color: white;
    opacity: 0;
    .translate(0, 25px);
    .transition(~".5s opacity, .5s transform");
  }

  .carousel-caption {
    font-family: @sentinel;
    font-size: .85rem;
    opacity: 0;
    .translate(0, 25px);
    .transition(~".5s opacity, .5s transform");
  }
}

.item.active {
  .carousel-headline {
    color: white;
    opacity: 1;
    .translate(0, 0);
    .transition(~".5s opacity, .5s transform");
  }
  .carousel-caption {
    font-family: @sentinel;
    font-size: .85rem;
    opacity: 1;
    .translate(0, 0);
    .transition(~".5s opacity, .5s transform");
  }
}

.carousel-headline {
  font-size: 1.5rem;
  margin:0 auto;
  a {
    color: white;
    &:hover {
      color: @green;
    }
  }
}

.carousel-caption {
  font-family: @sentinel;
  font-size: .85rem;
  margin-top: 0;
}

// .carousel-caption {
//   display: none;
// }

.carousel-slide-content {
  position:absolute;
  padding-bottom: 0; //reset bootstrap style
  right: auto;       //reset bootstrap style
  bottom: 0;
  left: 0;
  padding: 1rem 5rem;
  background: black;
  background: rgba(0, 0, 0, 0.5);
  height: 200px;
  width: 600px;
  z-index: 1;

}