@import "../../bootstrap/less/normalize.less";
@import "../../bootstrap/less/scaffolding.less";
@import "../../bootstrap/less/variables.less";
@import "variables.less"; // Put your custom variables in here
@import 'mixins.less';
@import "../../bootstrap/less/mixins.less";
@import "../../bootstrap/less/grid.less";
@import "../../bootstrap/less/utilities.less";
@import "../../bootstrap/less/responsive-utilities.less";

@import "../../fontawesome/less/font-awesome.less";
@fa-font-path: "../fonts/fontawesome";
@icon-font-path: "../fonts/glyphicons/";

@import '../../bootstrap/less/alerts.less';
@import '../../bootstrap/less/navs.less';
@import 'buttons.less';
@import 'tables.less';
@import 'carousel.less';
@import 'swiper.less';

@import 'style.less';
@import 'search.less';

@import 'legacy/ie8.less';


#skip-link {
  margin:0;
  padding:0;
}

