.vertical-align {
  position: absolute;
  top: 50%;
  .translate(0,-50%);
}

.vertical-align-fixed {
  position: fixed;
  top: 50%;
  .translate(0,-50%);
}

.flex-container {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  box-align: center;
  box-direction: reverse;
  box-pack: center;
  justify-content: space-between;
  align-content: stretch;
}

.flex-item() {
  width: 100%;
  -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;         /* OLD - Firefox 19- */
  -webkit-flex: 1;          /* Chrome */
  -ms-flex: 1;              /* IE 10 */
  flex: 0 1 auto; 
}