@button-size: 40px;
@search-width: 545px;

.sb-search {
    position: absolute;
    right: 1rem;
    top: 50%;
    margin-top: -((@button-size - 12)/2);
    bottom:0;
    width: 0%;
    min-width: @button-size;
    height: @button-size;
    float: right;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-backface-visibility: hidden;
}

.sb-search-input {
    background: #f2f2f2;
    visibility: hidden;
    position: absolute;
    
    border: none;
    outline: none;
    
    width: 100%;
    height: @button-size;
    margin: 0;
    z-index: 10;
    padding: 0 0 0 1rem;
    font-family: inherit;
    font-size: 20px;
    color: #2c3e50;
}

input[type="search"].sb-search-input {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sb-search-input::-webkit-input-placeholder {
    color: @cool-green;
}

.sb-search-input:-moz-placeholder {
    color: @cool-green;
}

.sb-search-input::-moz-placeholder {
    color: @cool-green;
}

.sb-search-input:-ms-input-placeholder {
    color: @cool-green;
}

.sb-icon-search,
.sb-search-submit  {
    width: @button-size;
    height: @button-size;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: @button-size;
    text-align: center;
    cursor: pointer;
}

.sb-search-submit {
    background: #fff; /* IE needs this */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
}

.hero .sb-icon-search {
    color: #fff;
    background: transparent;
    z-index: 10;
    font-size: 1rem;
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}

.sb-icon-search {
    color: #000;
    background: transparent;
    z-index: 10;
    font-size: 1rem;
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}

.sb-icon-search:before {
    content: "\f002";
}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
    width: @search-width;
    @media screen and (max-width: 1400px) {
        width: 485px;
    }
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
    background: @oswego-green;
    color: #fff;
    z-index: 11;
}

.sb-search-open {
    .sb-search-input {
        padding-left: 1rem;
        visibility: visible;
    }
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
    z-index: 90;
}