#content {
  //padding: 0 25px;
  width: 1232px;
  float: none;
  max-width: 100%;
  margin: auto;
  .clearfix();
}

.main-content-area,
.secondary-left-content-area,
.secondary-right-content-area {
  @media screen and (max-width: (@screen-sm - 1)) {
    width: 100% !important;
    float: none;
  }
}

section.dark {
  // background: lighten(#2e2e2e, 20%);
  // color: white;
}

.block-tip {
  display: none;
  &.first {
    border-radius: 5px;
    padding: 1rem;
    position:relative;
    margin-bottom: 15px;
    background: #2e2e2e;
    color: white;
    display: block;
    &:after {
      content: "";
      position: absolute;
      bottom: -10px;
      display: block;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #2e2e2e;
    }
  }
}

.content-row {
  .make-row(50px);
}

.main-content-area {
  .make-sm-column(8, 50px);
  padding-left: 15px;
  max-width: 100%;
  float: left;
}

.secondary-left-content-area,
.secondary-right-content-area {
  padding-top: 2.5rem;
  .make-sm-column(4, 50px);
}

.secondary-left-content-area {
  padding-right: 15px;
}



.tab-pane {
  // min-height: 75vh;
  @media screen and (max-width: (@screen-sm - 1)) {
    min-height: 0;
  }
}

.student-panel-row {
  .clearfix();
}


h1,
h2,
h3 {
  font-weight: 300;
  margin-bottom: 1.75rem;
  margin-top: 2rem;
  &.alt {
    font-family: @sentinel;
  }
  &.em {
    font-style: italic;
  }
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
}

h2 {
  font-weight: 300;
  font-size: 1.75rem;
  margin-bottom: 1.5625rem;
  color: #488a58;
}

h3 {
  font-weight: 600;
  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1.25rem;
  color: #686868;
}

h4 {
  font-size: .75rem;
  font-weight: 600;
  color: #686868;
  margin-bottom: 1.25rem;
}

p {
  //font-size: 1rem;
  line-height: 1.95em;
  font-weight: 300;
  margin-bottom: 2rem;
  &.intro {
    font-family: @sentinel;
    font-style: italic;
    font-size: 1.1rem;
    // font-weight: 500;
  }
}

ul,
ol {
  //font-size: 1rem;
  line-height: 1.75em;
  font-weight: 300;
}

a {
  font-weight: 400;
  color: #006126;
  border-bottom: 1px solid #f3f3f3;
  .transition(all .5s);
  &:hover {
    color: darken(#006126, 20%);
    text-decoration: none;
    border-bottom: 1px solid #006126;
    .transition(all .5s);
  }
}

.sub-text {
  font-family: @whitney;
  font-weight: 300;
  font-size: 0.625rem;
  line-height: 1.95em;
  color: #8b8d90;
}

.section-title-inner {
  width: 1232px;
  margin: auto;
  padding: 0 15px;
}

.nav-heading {
  float: left;
  font-size: 24px;
  margin-right: 16px;
  font-weight: 300;
}


.page-title {
  margin-top: 0;
}



html {
  font-size: 16px; // This is what all rems are based off
  -webkit-tap-highlight-color: rgba(100, 100, 100, 0.5);
  @media screen and (min-width: @screen-lg) {
    font-size: 18px;
  }
}

img {
  max-width: 100%;
}

#content {
  // padding: 0 1rem;
}

.grid-fill {
  background: @cool-green;
  height: 50px;
  text-align: center;
  color: white;
}

.grid-example {
  margin-bottom: 1em;
}

@media screen and (max-width: 1400px) {
  .container {
    width: 100% !important;
    padding: 0 1rem;
  }

}

.col-1-10 {
  width: 10%;
  padding: 0 @grid-gutter-width / 2;
  float: left;
}

.col-1-8 {
  width: 12.5%;
  padding: 0 @grid-gutter-width / 2;
  float: left;
}


.calendar-item-container {
  border-top: 1px solid lighten(#93a4ab, 30%);
  &:last-child {
    border-bottom: 1px solid lighten(#93a4ab, 30%);
  }
  p {
    margin:0;
  }
}

.calendar-item {
  .make-row(15px);
}

.time-container {
  .make-xs-column(3);
  .time {
    background: #93a4ab;
    padding: 2rem 0;
    width: 100%;
    display: table;
    height: 125px;
    p {
      text-align: center;
      display: table-cell;
      font-size: 1.25rem;
      vertical-align: middle;
    }
  }
}

.event-teaser {
  padding: 2rem 0;
}


.hero-page-title {
  margin-top: 0;
  text-align: center;
  margin-bottom: 30px;
}

.hero-intro-container {
  width: 700px;
  max-width: 100%;
  margin: auto;
  font-family: @whitney;
  padding: @block-padding;
  p {
    font-size: 20px;
    font-weight: 500;
    color: #424242;
  }
  @media screen and (max-width: 700px) {
    padding: 1rem;
  }
}

.intro-text {
  font-family: @whitney;
  font-size: 20px;
  font-weight: 500;
  color: #424242;
}

.block-feature {
  .clearfix();
  padding: 0;
}

.block-inner {
  padding: 16px;
  height: 100%;
  background: rgba(0,0,0,.6);
  .transition(all .5s);
  .block-read-more {
    visibility: hidden;
    .transition(all .5s);
    opacity: 0;
  }
  &:hover {
    background: rgba(0,0,0,.9);
    .block-read-more {
      visibility: visible;
      .transition(all .5s);
      opacity: 1;

    }
  }
}

a.block-inner {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.block-item-headline {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
}

.block-item-text {
  color: white;
  margin-top:0;
  line-height: 1.2em;
  font-size: .85rem;
  @media screen and (max-width: @screen-sm) {
    display: none;
  }
}

.block-item,
.testimonial-block {
  .make-sm-column(4);
  .make-md-column(3);
  background: lighten(black, 15%);
  width: 380px;
  height: 190px;
  height: 15vw;
  padding: 0;
  max-width:100%;
  position: relative;
  overflow: hidden;
  float: left;
  a {
    display: block;
    color: white;
    position:relative;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
  }

  @media screen and (max-width: @screen-sm) {
    width: 50%;
    height: 30vw;
  }
  @media screen and (max-width: 500px) {
    width: 100%;
  }
}



.quick-facts-container {
  background: #F5F6F7;
  padding: @block-padding;
}

.quick-facts-row {
  .make-row();
}

.quick-facts-headline,
.contact-us-headline,
.horizontal-panel-headline {
  margin-top:0;
  font-size: 16px;
  font-family: @whitney;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}

.quick-fact-item {
  padding: 0 2rem;
  min-height: 200px;
  text-align: center;
  position: relative;
  // &:after {
  //   content: "";
  //   position: absolute;
  //   right: 0;
  //   width: 1px;
  //   top: 20%;
  //   height: 100px;
  //   background: lighten(black, 30%);
  // }
  // &:last-child {
  //   border-right: none;
  //   &:after {
  //     display: none;
  //   }
  // }
}

// .quick-fact-metric {
//   line-height: 1;
//   font-family: @sentinel;
//   font-size: 3rem;
//   color: #4b895a;
//   margin-bottom:5px;
//   display: block;
// }

 .quick-fact-metric {
  line-height: 1;
  font-family: @sentinel;
  font-size: 4rem;
  color: #4b895a;
  margin-bottom:5px;
  font-weight: 500;
  display: block;
  position: relative;
  &.white {
    color: white;
  }
}

.header-section-title-container {
  .make-sm-column(8);
  height: 100%;
}

.header-section-title {
  position: relative;
  top: 50%;
  margin: -20px 0 0 0;
  color: white;
  text-align:right;
  font-size: 1.25rem;
}

.qf-image-item {
  height: auto;
  img {

  }
  padding:0;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
  }
}

.qf-images {
  background: darken(@dark-gray, 10%);
}

.qf-content {
  top: 40%;
  margin: auto;
  width: 300px;
  position: absolute;
  left:0;
  right:0;
  z-index: 100;
  color: white;
  text-align: center;
 }


/*==========  Testimonial Blocks  ==========*/

.testimonial-block-image {
  min-width: 100%;
  .scale(1,1);
  .transition(all .5s);
}

.testimonial-block,
.block-item {
  display: block;
  width: 33.333333%;
  float:left;
  height: 22vw;
  border: none;
  text-decoration: none;
  position: relative;
  &:after {
    content: "";
    position:absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 100%;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC43NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.01) 0%, rgba(0,0,0,0.75) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.01)), color-stop(100%,rgba(0,0,0,0.75))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.01) 0%,rgba(0,0,0,0.75) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0.01) 0%,rgba(0,0,0,0.75) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.01) 0%,rgba(0,0,0,0.75) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.01) 0%,rgba(0,0,0,0.75) 100%); /* W3C */
    .transition(all .5s);
  }
  @media screen and (max-width: 940px) {
    width: 50%;
    height: 30vw;
  }
  @media screen and (max-width: 530px) {
    width: 100%;
    height: 60vw;
  }

}

.testimonial-student,
.testimonial-student-status {
  font-family: @whitney;
  margin: 0;
  text-align: right;
  line-height: 1.1;
  display: none;
  @media screen and (min-width: 700px) {
    display: block;
  }
  @media screen and (min-width: 830px) {
    line-height: 1.5;
  }
}

.testimonial-student-status {
  font-size: .85rem;
}

.testimonial-content {
  line-height: 1.25;
  font-size: 1rem;
  font-family: @whitney;
  margin-bottom: .5rem;
  @media screen and (min-width: 830px) {
    line-height: 1.5;
    //border-bottom: 1px solid rgba(255, 255, 255, .5);
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 1rem;
    font-size: 1.15rem;
    //border-bottom: 1px solid rgba(255, 255, 255, .5);
  }
}

.testimonial-content-container {
  width: 100%;
  text-align: center;
  font-family: @sentinel;
  position: absolute;
  bottom: 0;
  z-index: 1;
  color: white;
  padding: 1rem;
  margin: 0 auto;

}

/*==========  Contact Us Section  ==========*/

.contact-us-container {
  padding: @block-padding;
  .clearfix();
}
.col-1-5 {
  width:20%;
  float:left;
  @media screen and (max-width: 1024px) {
    width: 25%;
  }
  @media screen and (max-width: 600px) {
    width: 50%;
  }
}

.contact-us-icon {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.contact-us-item {
  .clearfix();
  padding: 2rem 0;
  color: #686868;
  text-align: center;
  border-right: 1px solid #686868;
  &:last-child {
    border-right: none;
  }
}

/*==========  Article Styles  ==========*/

.article-body {
  width: 900px;
  max-width: 100%;
  margin: auto;
}

.article-hero img {
  width: 1024px;
  max-width: none;
  margin-left: -100px;
}

.secondary {
  list-style-type: none;
  padding:0;
  margin:0;
  @media screen and (min-width: (@screen-sm)) {
    display: none;
  }
}

.secondary-nav-item {
  background: white;
  width: 33.333%;
  float: left;
  text-align: center;
  border-right: 1px solid #f0f0f0;
  &:last-child {
    border-right: 0;
  }
  a {
    font-size: .7rem;
    display: block;
    padding: .75rem;
  }
}

.hero-headline {
  padding-left: (@grid-gutter-width / 2);
  position: absolute;
  bottom:0;
  left:0;
  font-size: 3.875rem;
  font-weight: 300;
  color: white;
  text-shadow: 0px 0px 20px black;
}


.section-header-container {
  &.stuck {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 102;
    .section-title-container {
      visibility: hidden;

    }
  }
}

.section-title {
  font-size: .625rem;
  font-weight: 300;
  margin-bottom: 0;
  color: gray;
  .fa-home {
    color: @green;
  }
  .current-breadcrumb {
    color: @green;
  }
}

.section-title-container {
    margin-top: 4.2rem;
  cursor: pointer;
  display: none;
  background: transparent;
  position:relative;
  //color: lighten(#6b6b6b, 30%);
  h3 {
    padding:0;
    margin: 1rem 0;
  }
  @media screen and (min-width: @screen-sm) {
    display: block;
  }
}

.section-title-mobile {
  background: white;
  position: relative;
  border-bottom: 1px solid #6b6b6b;
  h3 {
    padding:0;
    margin: 1rem 0;
  }
  @media screen and (min-width: @screen-sm) {
    display: none;
  }

}

.section-menu {
  position:absolute;
  right:0;
  top:0;
  height: 2.5rem;
  padding: 0 1rem;
  color: @cool-green;
  border-bottom: none;
  .transition(color .5s);
  &:hover,
  &:active,
  &:focus {
    border-bottom: none;
    color: @oswego-green;
    .transition(color .5s);
  }
  i {
    line-height: 2.5rem;
  }
}

/* Browsers that can handle flexbox */

.flexbox {
  .horizontal-nav {
    @media screen and (min-width: @screen-sm) {
      .flex-container();
      &.open {
        display: flex;
      }
      .horizontal-nav-item {
        .flex-item();
      }
    }
  }
}

.horizontal-nav-container {
  line-height: 3rem;
  font-size: .95rem;
  background: #f2f2f2;
  &.stuck {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
  }
  @media screen and (max-width: (@screen-sm - 1)) {
    ul {
      display: none;
      li {
        width:100%;
        a {
          display: block;
        }
      }
      &.open {
        display: block;
      }
    }
  }
}

.horizontal-nav {
  font-size: .888888888rem;
  list-style-type: none;
  padding: 5px 0;
  margin: 0;
  &.open {
    display: block;
  }
}

.horizontal-nav-item {
  float: left;
  width: 10%;
  text-align: center;
  a {
    border: 0;
    display: block;
    padding: .5rem;
    color: #686868;
    line-height: 1.25;
    .transition(all .5s);
    &:hover {
      border: 0;
      color: @cool-green;
      text-decoration: none;
      .transition(all .5s);
    }
  }
}

.hnav-active {
  color: @cool-green !important;
}

@media screen and (min-width: (@screen-sm)) {
  .menu-button-container {
    display: none;
  }

  .global-nav-container {
    background: @cool-green;
    li,
    a { border: 0; }
  }




  .hnav-container {
    .section-menu {
      display: none;
    }
  }
}

/*==========  Tabs  ==========*/


.sleek-tabs {
  ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      float: left;
      a {
        border-bottom: none;
      }
    &.current {
      a {
        color: black;
        //font-weight: 600;
        }
      }
    }
    // @media screen and (max-width: (@screen-sm - 1)) {
    //   display: none;
    // }
  }
}

.sleek-tabs-anchor {
  font-size: .75rem;
  @media screen and (max-width: (@screen-sm - 1)) {
    font-size: 1rem;
  }
}

.sleek-tabs {
  margin-bottom: 2rem;
  border-bottom: 1px solid #6b6b6b;
  position: relative;
  text-transform: uppercase;
  li {
    margin-right: 1.5rem;
    @media screen and (max-width: (@screen-sm - 1 )) {
      width: 100%;
      a {
        display: block;
      }

    }
    @media screen and (max-width: (@screen-sm - 1)) {
      margin-right: .5rem;
    }
  }
  li:last-child {
    margin-right: 0;
  }
  a {
    text-decoration: none;
    color: lighten(#6b6b6b, 30%);
    padding: .5rem 0;
    border-bottom: none;
    &:hover {
      border-bottom: none;
    }
  }
  #magic-line {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100px;
    height: 3px;
    background: @oswego-green;
    @media screen and (max-width: (@screen-sm - 1 )) {
      display: none;
    }
  }
}

.tab-pane {
  @media screen and (max-width: (@screen-sm - 1)) {
    padding-bottom: 2rem;
    border-bottom: 1px solid lighten(#6b6b6b, 30%);
    &:last-child {
      border-bottom: none;
    }
  }
}

.tab-content-headline {
  display: none;
  @media screen and (max-width: (@screen-sm - 1)) {
    display: block;
  }
}

.tab-pane {
  display: none;
  &.active {
    display: block;
  }
  @media screen and (max-width: 800px) {
    display: block;
  }
}

.mobile-sleek-tabs {
  display: none;
  @media screen and (max-width: (@screen-sm - 1)) {
    display: block;
  }
}

.mobile-sleek-tabs-title {
  margin: 0;
  &:after {
    content: "\f107";
    font-family: 'FontAwesome';

  }
}

#page {
  position: relative;
}

#page-top {
  background-color: @cool-green;
  box-shadow: none;
  font-family: @font-family-sans-serif;
  position:relative;
  z-index: 100;
  @media screen and (min-width: @screen-sm) {
    background: transparent;
  }
  a {
    border-bottom: none;
    &:hover {
      border-bottom: none;
    }
  }
}

.hero,
.hero-image {
  height: 505px;
  height: 39.5vw;
  @media screen and (max-width: (@screen-sm - 1)) {
    height: auto;
  }
}

.hero-image {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  img {
    min-width: 100%;
  }
  @media screen and (max-width: (@screen-sm - 1)) {
    position: relative;
  }
}

/*=====================================
=            Header Styles            =
=====================================*/


/*==========  Global Navigation  ==========*/

.main-navigation {
  z-index: 999999999;
  position: relative;
  height: 0;

  overflow: hidden;
  &.open {
    height: auto;
    max-height: 600px;
    .transition(.5s max-height);
  }
  @media screen and (min-width: @screen-sm) {
    display: block;
    height: auto;
    .transition(.5s max-height);
  }
}

.global-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-weight: 300;
  @media screen and (min-width: @screen-sm) {
    &.flex {
      padding: 0;
      .flex-container();
      .global-nav-item {
        margin: 0;
        width: auto;
      }
    }
  }
}

.global-nav-item {
  width: 50%;
  float: left;
  position:relative;
  background: #f2f2f2;
  border: 1px solid white;
  min-height: 75px;
  text-transform: uppercase;
  // margin-right: 3em;
  // &:last-child {333
  //   margin-right:0;
  // }
  &> a {
    flex: 1 1 auto;
    text-align: center;
    align-self: center;
    font-size: .94444rem;
    display: block;
    line-height: 1;
    padding: 1.155rem 1rem;
    color: #364348;
    .transition(all .5s);
    &:hover {
      .transition(all .5s);
    }
  }
  @media screen and (min-width: @screen-sm) {
    float: left;
    min-height: 0;
    background: transparent;
    .flex-item();
    width: 14%;
    &:first-child {
      display: none;
    }
    flex: 0 1 auto;
    border: 0;
    a {
      color: white;
      .transition(all .5s);
      &:hover {
        background: #387147;
        text-decoration: none;
        .transition(all .5s);
      }
    }
  }
}

/*==========  Logo bar  ==========*/

.hero .branding-container {
  background-image: url(../images/fade.png);
  z-index: 11;
  position: relative;
  background-size: cover;
  //background: rgba(0, 0, 0, .25);
  @media screen and (max-width: (@screen-sm - 1)) {
    background-image: none;
  }
}

.branding {
  position:relative;
  height: 80px;
  .make-row();
  @media screen and (min-width: (@screen-sm)) {
    height: 150px;
  }
}

.logo-container {
  padding: 0 .5rem;
  height: 100%;
  .make-xs-column(8);
  .make-sm-column(4);
  .mobile-logo {
    width: 175px;
    max-width: 100%;
    .vertical-align();
  }
  @media screen and (min-width: (@screen-sm)) {
    .mobile-logo {display: none;}
  }
}

.logo {
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -44px;
  //z-index: 999999;
  @media screen and (min-width: (@screen-sm)) {
    display: block;
    width: 240px;
  }
}

.mobile-logo {
  display: block;
  @media screen and (min-width: (@screen-sm)) {
    display: none;
  }
}

.menu-button-container {
  .make-xs-column(4);
  .make-sm-column(8);
  padding: 0;
  float: right;
  // width: 20%;
  // float: left;
  // position:relative;
  a.menu-icon {
    float: right;
    padding: 25px 15px;
    width: 60px;
    background: darken(@cool-green, 10%);
    display: block;
    color: white;
    margin:auto;
  }
}

/*==========  Popular Links  ==========*/


.popular-links-container {
  display: none;
  .make-sm-column(8);
  height: 100%;
  @media screen and (min-width: @screen-sm) {
    display: block;
  }
}

.popular-links {
  font-size: .777777777rem;
  .vertical-align();
  list-style-type: none;
  padding: 12px 0 0 0;
  margin:0;
  right: 4rem;
  z-index: 10;
}

.dropdown {
  &:after {
    color: black;
    font-family: "FontAwesome";
    content: "\f078";
  }
}

.more {
  font-size: .85rem;
  padding-left: 0;
  display: none;
  position: absolute;
  top: 3rem;
  right: 0;
  background: #f2f2f2;
  list-style-type: none;
  &:before {
    position:absolute;
    top: -15px;
    right: 35px;
    content: " ";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #f2f2f2;
  }
}

.popular-dropdown-item {
  padding: 1rem;
}

.popular-links-item {
  float: left;
  margin-right: .85rem;
  &:last-child {
    margin-right: 0;
  }
  a {
    color: black;
    padding: .5rem;
    border-bottom: none;
    &:hover {
      text-decoration: underline;
      border-bottom: none;
    }
  }
}

.hero {
  .popular-links-item {
    a {
      color: white;
    }
  }
  .dropdown {
    cursor: pointer;
    &:after {
      color: white;
      font-family: "FontAwesome";
      content: "\f078";
    }
    &:hover {
      text-decoration: underline;
      &:after {
        text-decoration: underline;
      }
    }
    .more {
      a {
        color: black;
      }
    }
  }
}

.mobile-search {
  position: relative;
  &:before {
    color: darken(#f2f2f2, 10%);
    font-size: 1.5rem;
    line-height: 3rem;
    position: absolute;
    left: 1rem;
    top: 0;
    bottom: 0;
    right: auto;
    margin: auto;
    font-family: 'FontAwesome';
    content: '\f002';
  }
  input[type=text] {
    width: 100%;
    padding: 1rem 1rem 1rem 3rem;
    font-size: 1rem;
    border: none;
    outline: none;
    .transition(all .5s);
    &:focus {

    }
  }
  @media screen and (min-width: (@screen-sm)) {
    display: none;
  }
}

/*==========  Drawer Styles  ==========*/

#site-drawer {
  position: absolute;
  width:100%;
  height: 320px;
  background: white;
  z-index: 102;
  display: none;
  &.shadow {
    box-shadow: 0px 0px 100px black;
  }
}

.drawer {
  margin: 2rem 0;
  background: white;
  height: 238px;
  & > .container {
    height: 100%;
  }
  .right-border {
    border-right: 1px solid #686868;
  }

  .sb-search {
    margin-top: -20px;
  }
  p {
    margin-bottom: 1rem;
    font-size: .85rem;
  }
}

.drawer-about {
  display: none;
}

.drawer-list {
  list-style-type: none;
}

.drawer-list-item {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
  a {
    font-size: 1rem;
    color: #488a58;
  }
}

.flex .drawer-popular-links {
  .flex-container();
  .popular-links-item {
    .flex-item();
  }
}

.drawer-popular-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  .popular-links-item {
    height: 50px;
    line-height: 50px;
  }
}

.drawer-popular-links-container {
  height: 50px;
  background: #686868;
  a {
    color: #2f2f2f;
  }
}

/*=====================================
=            Footer Styles            =
=====================================*/

footer {
  font-size: .85rem;
  &#colophon {
    // margin-top: 4.2rem;
    padding: @block-padding;
    color: #f3f3f3;
    background: #2d2d2d;
    a {
      color: #ffffff;
      border: none;
      &:hover {
        color: darken(white, 20%);
      }
    }
    li {
      line-height: 1.75em;
    }
  }
  .fa {
    color: #3b996c;
  }
  // @media screen and (max-width: 530px) {
  //   .footer-column-headers {
  //     display: none;
  //   }
  //   .footer-column-links {
  //     .col-xs-4 {
  //       width: 50%;
  //       text-align: center;
  //     }
  //     .col-xs-4:last-child {
  //       width: 100%;
  //     }
  //   }
  // }
}

.footer-logo-container {
  max-width: 250px;
  a {
    border: 0;
  }
}

.footer-links-container {
  margin-left: 3.25rem;
  @media screen and (min-width: @screen-sm) {
    margin-left: 0;
  }
}

.footer-address {
  margin-top: 2rem;
  padding-left: 3.25rem;
}

.footer-column-headers {
  text-transform: uppercase;
  padding-bottom: .25rem;
  color: #3b996c;
  border-bottom: 1px solid #464746;
  margin-top: 3rem;
  display: none;
  @media screen and (min-width: @screen-sm) {
    display: block;
  }
}

.footer-column-header {
  text-transform: uppercase;
  padding-bottom: .25rem;
  color: #3b996c;
  border-bottom: 1px solid #464746;
  margin-top: 3rem;
  font-size: 1em;
  font-weight: 300;
  @media screen and (min-width: @screen-sm) {
    display: none;
  }
}

ul.footer-links {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  margin-top: .5rem;
  .fa {
    width: 10px;
    margin-right: .5rem;
  }
}

.footer-bottom {
  margin-left: 3.25rem;
  color: lighten(#464746, 10%);
  border-top: 1px solid #464746;
  padding-top: 1rem;
  margin-top: 4rem;
  @media screen and (min-width: @screen-sm) {
    margin-left: 0;
  }
}

.footer-copyright {
  text-align: right;
}

.footer-social-media {
  font-size: 1.25rem;
  text-align: left;
  .fa {
    color: lighten(#464746, 10%);
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
  }
}


/*==============================================
=            Faculty Profile Styles            =
==============================================*/

hr {
  height: 0;
  margin: 2rem 0;
  border: 0;
  border-top: 1px solid rgb(100, 100, 100);
}

.faculty-name {
  margin-bottom: 0;
}

.faculty-job-title {
  margin-top: 0;
  font-family: @sentinel;
  font-style: italic;
  font-size: 1rem;
}

/*==============================
=            Alerts            =
==============================*/

.messages {
  .alert();
}

.messages--warning {
  .alert-warning();
}

.messages--error {
  .alert-danger();
}

/*-----  End of Alerts  ------*/

/*============================
=            Tabs            =
============================*/

.tabs-primary {
  .nav();
  .nav-tabs();
}

/*-----  End of Tabs  ------*/



/*======================================
=            Sidebar Blocks            =
======================================*/

.info-block {
  padding: 0 37px;
}

.quick-info-container {
  background: lighten(#d1d2d4, 10%);
  p {
    font-size: 13px;
  }
  padding-bottom: 1rem;
}

.quick-info-header {
  font-family: @whitney;
  color: white;
  background: #686868;
  padding: 17px 37px;
  margin-bottom: 0;
}

@line-color: #c4c5c7;

.sidebar-link-block {
  width: 100%;
  margin-top: 0;
  max-width: 100%;
  list-style-type: none;
  padding: .5rem 37px;
  a {
    border-bottom: none;
  }
  li {
    position: relative;
    font-size: 13px;
    padding: 13.5px 0;
    border-bottom: 1px solid @line-color;
    &:after {
      line-height: 55px;
      content: ">";
      position:absolute;
      top:0;
      bottom:0;
      right:0;
      left: auto;
    }
  }
}

/*-----  End of Sidebar Blocks  ------*/

.gray-panel {
  background: lighten(#d1d2d4, 10%);
}

.home-headline {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .75rem;
  margin-bottom: .5rem;
  display: block;
  a {
    font-weight: 700;
    border: 0;
  }
}

.horizontal-panel {
  padding: @block-padding;
  .clearfix();
  &.no-padding {
    padding: 0;
  }
}

.event-teaser-date-block {
  text-align: center;
  padding: .5rem .65rem;
  width: auto;
  background: #4b895a;
  color: #fff;
  float: left;
  margin-right: 1rem;
}

.event-teaser-month {
  font-weight: 300;
  font-family: @whitney;
  line-height: 1;
}

.event-teaser-date {
  line-height: 1;
  font-family: @sentinel;
  font-size: 1.75rem;
}

.event-teaser-block {
  margin-bottom: 1rem;
  .clearfix();
}

.event-day-time {
  text-transform: uppercase;
  font-size: .5rem;
  color: lighten(black, 30%);
  margin-bottom: .5rem;
}

.news-block-headline {
  padding: 1rem;
  font-size: 1rem;
  position: absolute;
  bottom:0;
  z-index: 1;
  a {
    border: 0;
  }
  .translate(0,0);
  .transition(all .5s);
  &:hover {
  }
}

.news-block-image {
  min-width: 100%;
  height: auto;
  overflow: hidden;
  .scale(1,1);
  .transition(all .5s);
}

.block-item {
  cursor: pointer;
  &:hover {
    .news-block-headline {
      .translate(0,-15px);
      .transition(all .5s);
    }
    .news-block-image {
      .scale(1.1,1.1);
      .transition(all .5s);
    }
    &:after {
      // content: "";
      // position:absolute;
      // bottom:0;
      // left:0;
      // width: 100%;
      // height: 100%;
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC43NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -moz-linear-gradient(top,  rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.75) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.25)), color-stop(100%,rgba(0,0,0,0.75))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.75) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.75) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.75) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.75) 100%); /* W3C */
      // background: rgba(0,0,0,.75);
      .transition(all .5s);
    }
  }
}

.green-link-list-container {
  background: @green;
  padding: 1rem;
}

.green-link-list {
  list-style-type: none;
  margin:0;
  padding:0;
  a {
    border-bottom: none;
    color: white;
    display: block;
    padding: 13.5px;
    .transition(all .5s);
    &:after {
      line-height: 55px;
      font-family: 'FontAwesome';
      content: "\f054";
      position:absolute;
      top:0;
      bottom:0;
      right:0;
      left: auto;
    }
    &:hover {
      padding-left: 1.5rem;
      .transition(all .25s);
    }
  }
  li {
    position: relative;
    font-size: 1.1rem;

    border-bottom: 1px solid @line-color;
    &:last-child {
      border-bottom: 0;
    }
  }
}


.home-life-item {
  color: @green;
  text-align: center;
  margin-bottom: 1rem;
  .fa {
    font-size: 1.5rem;
  }
}

.home-top-image {
  position:relative;
  img {
    //position:absolute;
    // top:0;
    // bottom:0;
    // left:0;
    // right:0;
    // margin: auto;
  }
  .home-cta-button {
    position:absolute;
    bottom:0;
    left:0;
    background: rgba(0,0,0,.5);
    width: 350px;
    padding: .5rem;
    color: white;
    .transition(all .5s);
  }
  &:hover {

    .transition(all .5s);

    .home-cta-button {
      background: rgba(0,0,0,.85);
      padding-left: 1rem;
      .transition(all .5s);
    }
  }
}

.home-top-image {
  min-width: 100%;
}

