tr {
  line-height: 3em;
}
td {
  padding: 0 1.5rem;
}
thead {
  tr {
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: 500;
    color: @oswego-green
  }
}

tbody {
  tr {
    border-top: 1px solid #6b6b6b;
  }
}

.table-centered {
  text-align: center;
}

/*==========  Responsive Tables  ==========*/

@media (max-width: (@screen-sm - 1)) {
  /* CSS Responsive table */
  table.responsive-table,
  table.responsive-table thead,
  table.responsive-table tbody,
  table.responsive-table th,
  table.responsive-table td,
  table.responsive-table tr { display: block; }
  table.responsive-table thead tr { position: absolute; top: -9999px; left: -9999px; }
  table.responsive-table tr { border: 1px solid #ccc; margin-bottom: 10px; }
  table.responsive-table td { border: none; border-bottom: 1px solid #eee; position: relative; padding-left: 50%; }
  table.responsive-table td:before {  position: absolute; top: 6px; left: 6px; width: 40%; padding-right: 10px; text-align: left; word-wrap: break-word; }
  // table.responsive-table tr:first-child { position: absolute; top: -9999px; left: -9999px; }
  table.responsive-table td:before { content: attr(data-content); height: 50px; }
  table.responsive-table td.small-padding { padding-top: 5px; padding-bottom: 5px; }
  table.responsive-table td.medium-padding { padding-top: 15px; padding-bottom: 15px; }
  table.responsive-table td.large-padding { padding-top: 25px; padding-bottom: 25px; }
}
